node_modules
# Keep environment variables out of version control
.env

/generated/prisma

client
# Ignore compiled JavaScript files
dist
*.js
*.js.map
# Ignore log files
logs
*.log
public/uploads
# Ignore OS-specific files
.DS_Store
Thumbs.db
# Ignore IDE-specific files
.vscode
.idea
# Ignore coverage reports
coverage
# Ignore temporary files
tmp